@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.App {
  background-color: #000000;
  background-image: url(../assets/banner-bg.png);
  background-repeat: no-repeat;
  background-size: fill;

  width: 100%;
  height: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 100;
  padding: 1rem 0;
  background-color: black;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.left_cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.left_cont img {
  width: 350px;
  height: 250px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.left_cont img:hover {
  cursor: pointer;
  color: yellow;
}

.right_cont {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-right: 20px;
  cursor: pointer;
}
.right_cont a {
  color: grey;
  text-decoration: none;
}
.right_cont a:hover {
  color: yellow;
  font-size: 17px;
}
.left_cont {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-right: 20px;
  cursor: pointer;
}

.Homepage {
  /* background-color: #000000; */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;

  flex-direction: row;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;

  padding: 60px 20px;
}

.left_home {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px 90px 40px;
}

.left_home img {
  margin-top: 100px;
  padding: 30px;
  width: 80%;
  height: 20%;
  object-fit: contain;
}

.content {
  width: 40%;
  padding: 50px 40px 28px 60px;
}

.content h2 {
  color: #fff;
  font-size: 1.5em;
  position: absolute;
  transform: translate(-50%, -50%);
  word-wrap: break-word;
  box-shadow: 0 0 10px 0 rgba(211, 191, 191, 0.2);
  padding: 10px 20px;
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 1px #806d40;
}

.content h2:nth-child(2) {
  color: yellow;
  animation: animate 2s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

.right_home {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px 40px;
}

.right_home h1 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 0 0 10px 0 rgba(211, 191, 191, 0.2);
}

.profile-card {
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  padding: 20px;

  box-shadow: 0 0 10px 0 rgba(211, 191, 191, 0.2);
}

.profile-card:hover {
  box-shadow: 0 0 10px 0 rgba(211, 191, 191, 0.7);
  cursor: pointer;
}

.profile-card img {
  width: 20%;
  height: 20%;
  border-radius: 50%;
  border: 2px solid yellow;
}

.pro_card_head {
  display: flex;
  align-items: center;

  padding: 10px;
  gap: 10px;
}

.profile-card h3 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cardlocation {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 10px;
}

.card-repo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.arrow {
  align-items: center;
}

.profile-card__stat {
  display: flex;
  align-items: center;
  gap: 10px;
}

.about {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 40px 20px 170px 20px;
}

.about_left {
  padding-top: 80px;
}

.about_left img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.about_right {
  line-height: 42px;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 90px;
  padding: 20px 40px;
  color: #fff;
  box-shadow: 0 0 10px 0 rgba(211, 191, 191, 0.2);
  word-wrap: break-word;
}

.about_right h1 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
  padding: 10px;
}

.about_right:hover {
  box-shadow: 0 0 10px 0 rgba(211, 191, 191, 0.7);
  cursor: pointer;
}

.repositories {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  padding-top: 60px;
}

.repoleft {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  width: 90%;
  padding: 20px;
}

.repoleft a {
  display: flex;
  color: #fff;

  text-decoration: none;
  font-weight: 400;

  padding: 20px;
  box-shadow: 0 0 10px 0 rgba(211, 191, 191, 0.2);
  margin-bottom: 20px;
}

.repoleft a:hover {
  box-shadow: 0 0 10px 0 rgba(211, 191, 191, 0.9);
  cursor: pointer;
}

.Forks {
  background-color: #000;
  border-radius: 10px;
  padding: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  width: 160px;
}
.repoleft h1 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 5px;
  padding: 5px;
}

.repoleft h2 {
  font-size: 20px;
  font-weight: 400;

  padding: 5px;
}

.repoleft p {
  font-size: 16px;
  font-weight: 400;

  padding: 5px;
}

.reporight {
  padding: 20px;
  margin-top: 150px;
  margin-left: 170px;
}
.repositories__container {
  text-decoration: none;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.pagination {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 20px;
}

.pagination button {
  background-color: #000000;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.6;
}

.pagination button:hover {
  opacity: 1;
  background-color: yellow;
  color: #000;
}

.pagination button:active {
  opacity: 2.6;

  background-color: yellow;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

button:disabled:hover,
button[disabled]:hover {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.stack {
  gap: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.about_stack {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-bottom: 20px;
}
/* 
contact page styling */

.contact {
  display: flex;
  flex-direction: rows;
  justify-content: space-between;
  margin-top: 45px;
  height: 100vh;

  padding: 60px 20px 20px 20px;
}

.leftcontact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  margin-top: 50px;
  padding: 20px;
  width: 40%;
  height: 45%;
  color: #fff;
  box-shadow: 0 0 10px 0 rgba(211, 191, 191, 0.2);
  word-wrap: break-word;
}

.phone {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 30px;
}

.leftcontact h1 {
  font-size: 20px;
  font-weight: 400;
  padding: 5px;
}

.leftcontact p {
  font-size: 16px;
  font-weight: 400;
  padding: 5px;
}

.leftcontact a {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  padding: 5px;
}

.leftcontact a:hover {
  color: yellow;
}

.leftcontact:hover {
  box-shadow: 0 0 10px 0 rgba(211, 191, 191, 0.7);
  cursor: pointer;
}

.rightcontact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  margin-top: 50px;
  padding: 20px;
  width: 40%;
  height: 75%;
  color: #fff;
}

.about_social {
  display: flex;
  flex-direction: row;

  align-items: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  padding: 160px 20px 20px 20px;
}

.rightcontact h2 {
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;

  padding: 5px;
}

.rightcontact a {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: 50px;
  padding: 5px;
}

.rightcontact a:hover {
  color: yellow;
}
/* each repository styling */

.repo-details {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.repo-details button {
  background-color: #000000;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;

  margin-right: 20px;
}

.repo-details button:hover {
  background-color: yellow;
  color: #000;
}

.repo-details__container {
  display: flex;
  flex-direction: column;

  align-items: flex-start;

  margin-top: 50px;
  padding: 20px;
  width: 30%;
  height: 55%;
  color: #fff;
  background-color: #000;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(211, 191, 191, 0.5);
}

.repohead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 20%;
  padding: 5px;
}

.repohead h3 {
  font-size: 20px;
  font-weight: 400;
  padding: 5px;
  word-wrap: break-word;
}

.repodetails_img {
  width: 100px;
  height: 90px;
  padding: 22px;
  border-radius: 40%;
}

.repobody {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  line-height: 30px;
  padding: 10px;
  width: 100%;
  height: 55%;
  color: #fff;
  word-wrap: break-word;
}

.repobody h4 {
  font-size: 20px;
  font-weight: 400;
  padding: 5px;
  word-wrap: break-word;
  color: red;
}

.repobody p {
  font-size: 16px;
  font-weight: 400;
  padding: 5px;
  word-wrap: break-word;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #fff;
}
.repobody h5 {
  font-size: 16px;
  font-weight: 400;
  padding: 5px;
  word-wrap: break-word;
  color: #fff;
}

.repofooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 20%;
  padding: 5px;
}

.repofooter a {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  padding: 5px;
  font-size: 20px;
}

.repofooter button {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  padding: 15px;
  font-size: 20px;
  background-color: #000;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
}

.repofooter button:hover {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  cursor: pointer;
}

.repofooter p {
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
  word-wrap: break-word;
  color: #fff;
  background-color: green;
  border-radius: 5px;
}
.errorlinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.errorlinks a {
  margin: 5px;
  padding: 10px;
  opacity: 0;
  text-decoration: none;
  color: #000;
  font-size: 15px;
  font-weight: 400;
  background-color: yellow;
  border-radius: 10px;
  animation: flash 2s infinite linear;
}

.errorlinks a:hover {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  cursor: pointer;
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.errorpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.errorcont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 400px;
  width: 400px;
}

.errorpage h1 {
  font-size: 40px;
  font-weight: 400;
  color: #fff;
  padding: 25px;
}

.errorcont a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  color: #000;
  text-decoration: none;
  font-weight: 400;
  padding: 10px;
  font-size: 20px;
  background-color: yellow;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
}

.errorcont a:hover {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  cursor: pointer;
}

.errorinput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
  font-size: 20px;
  color: #fff;
}

.errorinput input {
  font-size: 20px;
  font-weight: 400;
  color: #000;
  padding: 5px;
}

.fallback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  color: #fff;
}

.fallback button {
  font-size: 20px;
  font-weight: 400;
  color: #000;
  padding: 5px;
  background-color: yellow;
  border: 1px solid #fff;
  border-radius: 5px;
}

.fallback button:hover {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .left_cont {
    display: none;
    width: 20%;
  }

  .right_cont {
    width: 100%;
    padding-left: 5px;
  }

  .Homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .left_home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    color: #fff;
  }

  .left_home h2 {
    font-size: 30px;
    font-weight: 400;
    padding: 5px;
  }

  .right_home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    color: #fff;
  }
  .profile-card {
    margin-top: 30px;
  }

  .about {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    color: #fff;
  }

  .about_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    margin-top: 30px;
    padding: 20px;
    color: #fff;
  }

  .about_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    padding: 10px;
    color: #fff;
  }

  .about_right h1 {
    font-size: 20px;
    font-weight: 400;
    padding: 5px;
    margin-bottom: 0;
  }

  .about_right p {
    font-size: 16px;
    font-weight: 400;
    padding: 5px;
    margin-top: 0;
    line-height: 25px;
  }

  .about_stack {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    color: #fff;
    word-wrap: break-word;
  }

  .repositories {
    width: 100%;
    height: 100%;
    background-size: 100%;
    padding: 10px 10px 350px 10px;
  }

  .repoleft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5px;
    color: #fff;
    word-wrap: break-word;
  }

  .repoleft h1 {
    font-size: 18px;
    font-weight: 300;
    padding: 5px;
    margin-bottom: 0;
  }

  .repoleft p {
    font-size: 16px;
    font-weight: 400;
    padding: 5px;
    margin-top: 0;
    line-height: 25px;
  }

  .reporight {
    display: none;
  }
  .repositories__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    color: #fff;
    word-wrap: break-word;
  }

  .rep_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    padding: 0px;
    line-height: 20px;
    color: #fff;
    word-wrap: break-word;
  }

  .pagination {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    padding: 5px;
    color: #fff;
    word-wrap: break-word;
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 20px 120px 20px;
    color: #fff;
  }

  .leftcontact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    color: #fff;
  }

  .rightcontact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    margin-left: -35px;
    color: #fff;
  }
}
